body {
  font-family: "ZCOOL XiaoWei", sans-serif;
  background-color: #d0aea2;
}
.header {
  background-image: url(Images/logo2.jpg);
  background-size: cover;
  height: 25rem;
}
.name {
  font-family: "Ma Shan Zheng", cursive;
  text-align: center;
  color: #d0aea2;
  font-size: 7rem;
  letter-spacing: 2px;
  position: relative;
  top: 25%;
  font-weight: 900;
}

.content {
  margin-top: 100px;
  text-align: center;
}

.submitbtn {
  margin-top: 80px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 0;
  padding: 50px;
  background-color: #aa251c;
  color: white;
}

.inputlabel {
  font-size: 2.5rem;
  padding: 10px;
  color: #aa251c;
}

#submitbtn {
  margin-top: 80px;
  /* background-color: #7F0000; */
  background-color: #aa251c;
  padding: 15px 100px;
  border-radius: 20px;
  border: none;
}

#submitbtn:hover {
  background-color: #891d16;
}

.again:hover {
  background-color: #891d16;
  color: white;
}
.contact {
  display: flex;
}
.icon {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 20px;
}
#inputdate,
#inputname,
#inputcity {
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: none;
}

/* result.html */
.weather-container {
  padding: 100px;
}
.weather {
  margin-left: 150px;
}
.hr {
  margin-top: 50px;
}
.again {
  margin-top: 400px;
  background-color: #aa251c;
  padding: 15px 100px;
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 18px;
}

#myImg {
  border-radius: 70px;
  position: absolute;
  top: 30px;
  right: 16px;
  font-size: 18px;
}
.welcome {
  margin-top: -50px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.pred {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}
.sign {
  margin-top: -20px;
}
h4 {
  color: #aa251c;
  font-weight: 900;
}

#quotes {
  padding-top: 100px;
}
