body{
  font-family: 'ZCOOL XiaoWei', sans-serif;
}
.header {
  background-image: url(Images/logo2.jpg);
  background-size: cover;
  height: 20rem;
}
.name {
  font-family: 'Ma Shan Zheng', cursive;
  text-align: center;
  color: #dfbc5e;
  font-size: 7rem;
  letter-spacing: 2px;
  position: relative;
  top: 25%;
  font-weight: 900;
}

.content {
  margin-top: 100px;
  text-align: center;
}

.submitbtn {
  margin-top: 80px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 0;
  height: 80px;
  background-color: gray;
}

